extends ../../layouts/index

block links 
    link(rel="stylesheet", href="/css/components/index/auth.index.css")
block content
    .content-wrapper
        .auth-wrapper
            .auth-image       
                img(src='/images/auth-bg.webp' alt="Men writing on computer")
                .image-content
            .auth-form.flex
                .auth-form__container
                    .form-body.flex.col
                        .form-title.flex.col
                            h1 Let's set up your company
                            p Start by entering basic information about your practice or healthcare organization.
                        form.form-fields.flex.col(action="/create-company" method="POST")
                            .field-container.flex.col
                                p Company name
                                input.input(placeholder="ex: Skelio Belgium" type="text" name="name")
                            .field-container.flex.col
                                p Type
                                select.select(name="services")
                                    option(value="" selected disabled hidden) Select
                                    option Coaching
                                    option Cooking
                                    option Haircut
                                    option Doctor
                                    option Dentist
                            .field-container.flex.col
                                p Country
                                select.select(name="country")
                                    each value, key in countries
                                        option(
                                            value=value
                                            selected=(value === defaultCountry)
                                        )= value

                            .field-container.flex.col
                                p Timezone
                                select.select(name="timezone")
                                    each tz in timezones
                                        option(
                                            value=tz.name
                                            selected=(tz.name === defaultTimezone)
                                        )= tz.label

                            button.btn(type="submit") Continue
                        if error
                            p.xs-comment.error= error
                        
block scripts       