extends ../../layouts/admin

block links
    link(rel="stylesheet", href="/css/components/admin/employee.admin.css")

block content
    .employee-section.flex.col
        .employee-section__header.flex-c.space-b
            .header-search
                input.input(placeholder="Search")
            .header-actions.flex
                button.btn.secondary#requestSwitcher Requests
                button.btn#addEmployeeSwitcher Employee
        .employee-section__body
            table.employee-table#tableShowing
                thead
                    tr 
                        th #
                        th Employee Name
                        th ID
                        th Role
                        th Email
                        th Action
                tbody
                    each employee, index in employees
                        tr(data-id=employee.user._id)
                            td= index + 1
                            td= employee.user.fullName
                            td= employee.user._id
                            td  
                                select.select.select-role(disabled=(employee.grade === "owner"|| thisEmployee.grade === "staff"))
                                    option(disabled)= employee.grade
                                    option(value="owner" selected=(employee.grade === "owner")) Owner
                                    option(value="admin" selected=(employee.grade === "admin")) Admin
                                    option(value="staff" selected=(employee.grade === "staff")) Staff
                            td= employee.user.email
                            td
                                button.s-btn.reject.fire-btn(disabled=(thisEmployee.grade === "staff")) Fire
            template#employeeHeadTemplate
                tr 
                    th
                    th Employee Name
                    th ID
                    th Role
                    th Email
                    th Action
            template#requestHeaderTemplate
                tr
                    th #
                    th Name
                    th Status
                    th Email
                    th Actions
            template#requestRowTemplate
                tr
                    td.index
                    td.fullName
                    td.status
                    td.email
                    td.actions
                        button.s-btn.approve Approve
                        button.s-btn.reject Reject
block scripts
    script.
        const companyId = "#{currentCompany._id}";
    script(type="module" src="/js/layouts/employees.js")