extends ../../layouts/index

include ../../templates/confirm-popup.pug

block links
    link(rel="stylesheet", href="/css/layouts/index-calendar.css")
    link(rel="stylesheet", href="/css/templates/confirm-popup.css")

block content
    .content-wrapper
        if cancelBooking
            #cancelBooking(data-id=company._id)
                .cancel__container 
                    .cancel__top
                        .cancel__icon
                            svg //- icon ici 
                        .cancel__title
                            h2 Your booking has been cancled with success
                    .cancel__middle
                        .cancel__description
                    .cancel__bottom
                        .cancel__action
                            button.btn Close

        .informations
            .informations__container
                .informations__top
                    .informations__user
                        h2 Coach informations
                        .informations__user-wrapper
                            .user__image
                                img.cover(alt="Profile Picture" src=(coach.profilePicture || "/images/no-user.webp"))
                            .user__name
                                .user__name-row
                                    h3= coach.fullName || ""
                                .user__name-row
                                    p= coach.emailPro || ""
                                .user__name-row
                                    p= coach.phonePro || ""

                .informations__bottom
                    .informations__links
                        if coach.instagramLink || coach.facebookLink || coach.whatsappLink || coach.website
                            h2 Links
                            if coach.instagramLink
                                .informations__links-wrapper
                                    a(href=coach.instagramLink target="_blank").links__row
                                        .links__row-logo
                                            img(alt="Instagram logo" src="/images/logos/instagram-logo.webp")
                                        .links__row-name
                                            h3 Instagram
                            if coach.facebookLink
                                .informations__links-wrapper
                                    a(href=coach.facebookLink target="_blank").links__row
                                        .links__row-logo
                                            img(alt="Facebook logo" src="/images/logos/facebook-logo.webp")
                                        .links__row-name
                                            h3 Facebook
                            if coach.whatsappLink
                                .informations__links-wrapper
                                    a(href=coach.whatsappLink target="_blank").links__row
                                        .links__row-logo
                                            img(alt="Whatsapp logo" src="/images/logos/whatsapp-logo.webp")
                                        .links__row-name
                                            h3 Whatsapp
                            if coach.website
                                .informations__links-wrapper
                                    a(href=coach.website target="_blank").links__row
                                        .links__row-logo
                                            img(alt="Website logo" src="/images/logos/website-logo.webp")
                                        .links__row-name
                                            h3 Website

        .calendar-wrapper.container
            .calendar
                .calendar-header
                    .prev-month
                        button.btn#prevMonthBtn Prev
                    .this-month
                        h2
                    .next-month
                        button.btn#nextMonthBtn Next
                .calendar-body
                    .weekdays
                        //- Injected from JS
                    .days
                        //- Injected from JS

        .schedule-wrapper#scheduleWrapper
            .schedule
                .schedule-header
                    h2 Choose a schedule
                .schedule-body
                    .back-btn
                        svg(xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e3e3e3")
                            path(d="M640-200 200-480l440-280v560Zm-80-280Zm0 134v-268L350-480l210 134Z")
                    .schedule-rows
                        //- Injected from JS



                                   

        .booking-wrapper#bookingWrapper(data-company-id=company._id)
            .booking
                .booking-header
                    h2 Confirm your booking
                .booking-body
                    .back-btn
                        svg(xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e3e3e3")
                            path(d="M640-200 200-480l440-280v560Zm-80-280Zm0 134v-268L350-480l210 134Z")
                    .form-confirm
                        .field-container.flex.col
                            p Name
                            input.input(placeholder="Doe" id="bookingName")
                        .field-container.flex.col
                            p Surname
                            input.input(placeholder="John" id="bookingSurname")
                        .field-container.flex.col
                            p Email
                            input.input(placeholder="john.doe@company.com" id="bookingEmail")
                        .field-container.flex.col
                            p Phone
                            input.input(placeholder="+32 456 56 44 35" id="bookingPhone")
                        .field-container.flex.col
                            p Message
                            input.input(placeholder="Write something..." id="bookingMsg")
                    .booking-button
                        button.btn#confirmBooking Confirm
    +confirmPopup()

block scripts

    script(src="/js/layouts/index.js" type="module") 
    