extends ../../layouts/index

block links
    link(rel="stylesheet", href="css/layouts/landing-page.css")

block content
    .content-wrapper
        .landing-page__content
            .landing-page
                .landing-page__background
                    video(autoplay loop muted playsinline)
                        source(src='/videos/background.mp4' type="video/mp4")
                .landing-page__container
                    .landing-page__title.flex-c
                        h1 #{t.hero.title} 
                    .landing-page__description.flex-c
                        p= t.hero.description
                    .landing-page__actions.flex-c
                        a.btn(href='/register')= t.hero.btn_1
                        //- a.btn.secondary(href='/register')= t.hero.btn_2
            section.features.container
                .features__container
                    each item in t.features.items
                        .features__box
                            .box__icon!= item.icon
                            .box__title
                                h2= item.title
                            .box__description
                                p= item.description
            section.promotion.padding-d
                .promotion__container
                    .promotion__title
                        h2= t.promotion.title
                    .promotion__description
                        p= t.promotion.description
                    .promotion__actions
                        //- button.btn.secondary= t.promotion.btn_1
                        a.btn(href="/register")= t.promotion.btn_2
            section.functionalities
                .functionalities__container.container
                    each row, index in t.functionalities.rows
                        .functionalities__row(class=index === 1 ? "second": "")
                            .row__left
                                .row__body
                                    .row__title
                                        h2= row.title
                                    .row__description 
                                        p= row.description
                                    .row__functionality
                                        each item in row.items
                                            .functionality
                                                .functionality__icon.flex-c
                                                    svg(xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 -960 960 960" width="24px" fill="#e3e3e3")
                                                        path(d="m422.46-323.69 255.85-255.85L650-607.85 422.46-380.31l-114-114L280.15-466l142.31 142.31ZM480.13-120q-74.67 0-140.41-28.34-65.73-28.34-114.36-76.92-48.63-48.58-76.99-114.26Q120-405.19 120-479.87q0-74.67 28.34-140.41 28.34-65.73 76.92-114.36 48.58-48.63 114.26-76.99Q405.19-840 479.87-840q74.67 0 140.41 28.34 65.73 28.34 114.36 76.92 48.63 48.58 76.99 114.26Q840-554.81 840-480.13q0 74.67-28.34 140.41-28.34 65.73-76.92 114.36-48.58 48.63-114.26 76.99Q554.81-120 480.13-120Zm-.13-40q134 0 227-93t93-227q0-134-93-227t-227-93q-134 0-227 93t-93 227q0 134 93 227t227 93Zm0-320Z")
                                                .functionality__text= item
                                .row__actions
                                    //- button.btn.secondary= row.btn_1
                                    a(href="/register").btn= row.btn_2
                            .row__right
                                .row__image
                                    img(src=row.image)
                       

            section.faq.padding-d
                .faq__container
                    .faq__title
                        h2= t.faq.title
                        p= t.faq.description  .faq__body
                    .faq__body
                        each item in t.faq.items
                            .faq__question
                                .faq__answer-container
                                    .faq__answer= item.q
                                    .faq__icon.flex-c 
                                        svg(xmlns="http://www.w3.org/2000/svg" height="24px" viewBox="0 0 24 24" width="24px" fill="#e3e3e3")
                                            path(d="M0 0h24v24H0V0z" fill="none")
                                            path(d="M10 6L8.59 7.41 13.17 12l-4.58 4.59L10 18l6-6-6-6z")
                                .faq__response
                                    p= item.a
block scripts       
    script(src="/js/layouts/index.js" type="module") 
    script(src="/js/layouts/landing-page.js" type="module") 